.banner {
  width: 100%;
  background-color: #435058;
}
.banner span {
  display: block;
  font-size: 20vw;
  text-align: center;
  background-color: #435058;
  color: #dcf763;
  text-shadow: 0 0 2rem #848c8e, 1px 1px 3px #848c8e, 1px -1px 3px #848c8e, -1px 1px 3px #848c8e, -1px -1px 3px #848c8e;
}
