#mainContent {
  padding: 15px;
  padding-bottom: 6rem;
  margin: auto;
  color: #435058;
  min-width: 500px;
  max-width: 900px;
  width: 60%;
}
#mainContent li {
  list-style-type: square;
}
#mainContent a {
  color: #848c8e;
  text-decoration: underline;
}
