body {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  background-color: #f1f2ee;
  font-size: 20px;
  font-family: fantasy, "Arial";
}

.content {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}

.unselectable {
  -webkit-user-selec: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hoverOver {
  background-color: #dcf763;
  color: #435058;
  cursor: pointer;
}

.footer {
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #d4d4d4;
}
.footer a {
  color: currentColor;
}
.footer div {
  padding-top: 15px;
}

.toTop {
  margin: 0;
  position: fixed;
  bottom: 20vh;
  right: 0;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.3;
}
.toTop circle {
  fill: #435058;
}
.toTop line {
  stroke: #dcf763;
  stroke-width: 3;
}
.toTop:hover {
  opacity: 1;
}
