@import "colors";

.banner{
  width: 100%;
  background-color: $bannerCol;

  span{
    display: block;
    font-size: 20vw;
    text-align: center;
    background-color: $bannerCol;
    color: $bannerTxtCol;
    text-shadow:
      0 0 2rem $bannerTxtShadow,
      1px 1px 3px $bannerTxtShadow,
      1px -1px 3px $bannerTxtShadow,
      -1px 1px 3px $bannerTxtShadow,
      -1px -1px 3px $bannerTxtShadow;
  }
}
