$bannerCol: #435058;//9ECAD9;
$bannerTxtCol: #dcf763;//white;
$bannerTxtShadow: #848c8e;//376D7F;

$bodyCol: #f1f2ee;//2E3B40;
$bodyTxtCol: #435058;//white;

$picCardCol: #bfb7b6;//gray;

$borderCol: #435058;//0E3745;
$barCol: white;

$menuCol: #848c8e;//376D7F;
$menuTxtCol: #f1f2ee;//white;
$menuLstBorderCol: #435058;//0E3745;

$linkCol: #848c8e;//lime;

$hoverCol: #dcf763;//0E3745;
$hoverTxtCol: #435058;//white;

$footerCol:  #d4d4d4;
