$bannerCol: #9ECAD9;
$bannerTxtCol: white;
$bannerTxtShadow: #376D7F;

$bodyCol: #2E3B40;
$bodyTxtCol: white;

$hoverCol: #0E3745;
$hoverTxtCol: white;

$picCol: gray;

$borderCol: #0E3745;
$barCol: white;

$menuCol: #376D7F;
$menuTblTxtCol: white;
$menuLstBorderCol: #0E3745;

$linkCol: lime;
