@import "colors";

#mainContent{
  padding: 15px;
  //padding-top: 4rem;
  padding-bottom: 6rem;
  margin: auto;
  color: $bodyTxtCol;
  min-width: 500px;
  max-width: 900px;
  width: 50%;

  li{
    list-style-type: square;
  }

  a{
    color: $linkCol;
    text-decoration: underline;
  }
}
