@import "colors";

$btnSize: 20px;
$btnBorder: 2px solid $borderCol;

@mixin transform($trans){
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}

@mixin transition($time, $type){
  -webkit-transition: $time $type;
  -moz-transition: $time $type;
  -o-transition: $time $type;
  transition: $time $type;
}

.menuBtn{
  position: absolute;
  width: $btnSize;
  height: $btnSize;
  padding: 10px;
  border: $btnBorder;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-left: 1rem;

  .bar{
    width: 20px;
    height: 2px;
    background-color: $barCol;
    border: 0.5px;
    border-radius: 25px;
    margin-top: 6px;

    opacity: 1;
    @include transform(rotate(0deg));
    @include transition(.25s, ease-in-out);

    &:nth-child(1){
      margin-top: 0;
    }
  }
}

.menuBtn.open{
  .bar{
    &:nth-child(1){
      margin-top: 0;
      position: absolute;
      top: 19px;
      @include transform(rotate(135deg));
    }

    &:nth-child(2){
      opacity: 0;
    }

    &:nth-child(3){
      margin-top: 0;
      position: absolute;
      top: 19px;
      @include transform(rotate(-135deg));
    }
  }
}
