@import "colors";
@import "functions";

$font-stack: fantasy, "Arial";

body{
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  background-color: $bodyCol;
  font-size: 20px;
  font-family:  $font-stack;
}

.content{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}

.unselectable{
  -webkit-user-selec: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hoverOver{
  background-color: $hoverCol;
  color: $hoverTxtCol;
  cursor: pointer;
}

$footerHeight: 50px;
.footer {
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: $footerHeight;
  background-color: $footerCol;

  a{
    color: currentColor;
  }

  div{
    padding-top: 15px;
  }
}

.toTop{
  margin: 0;
  position: fixed;
  bottom: 20vh;
  right: 0;
  @include transform(scale(0.6));
  opacity: 0.3;

  circle{
    fill: $bannerCol;
  }

  line{
    stroke: $bannerTxtCol;
    stroke-width: 3;
  }

  &:hover{
    opacity: 1;
  }
}
